USE [master]
GO
/****** Object:  Database [TP13]    Script Date: 23/9/2026 14:13:19 ******/
CREATE DATABASE [TP13]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP13', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP13.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP13_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP13_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP13].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP13]
GO
/****** Object:  User [alumno]    Script Date: 23/9/2026 14:13:20 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Clases]    Script Date: 23/9/2026 14:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[IdClase] [int] IDENTITY(1,1) NOT NULL,
	[IdDisciplina] [int] NOT NULL,
	[IdProfesor] [int] NOT NULL,
	[IdEspacio] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Costo] [float] NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_Clases] PRIMARY KEY CLUSTERED 
(
	[IdClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplinas]    Script Date: 23/9/2026 14:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplinas](
	[IdDisciplina] [int] IDENTITY(1,1) NOT NULL,
	[NombreDisciplina] [varchar](50) NOT NULL,
	[EdadMinima] [int] NOT NULL,
	[EdadMaxima] [int] NOT NULL,
 CONSTRAINT [PK_Disciplinas] PRIMARY KEY CLUSTERED 
(
	[IdDisciplina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Espacios]    Script Date: 23/9/2026 14:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Espacios](
	[IdEspacio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Espacios] PRIMARY KEY CLUSTERED 
(
	[IdEspacio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 23/9/2026 14:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[IdInscripcion] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[IdClase] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[ImporteAbonado] [float] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Asistio] [bit] NULL,
 CONSTRAINT [PK_Inscripciones] PRIMARY KEY CLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 23/9/2026 14:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[IdProfesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Legajo] [varchar](50) NOT NULL,
	[Especialidad] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Profesor] PRIMARY KEY CLUSTERED 
(
	[IdProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 23/9/2026 14:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[IdSocio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Socios] PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clases] ON 

INSERT [dbo].[Clases] ([IdClase], [IdDisciplina], [IdProfesor], [IdEspacio], [FechaHora], [DuracionMinutos], [Costo], [Activa]) VALUES (1, 3, 2, 2, CAST(N'2026-09-10T10:00:00.000' AS DateTime), 60, 1500, 1)
INSERT [dbo].[Clases] ([IdClase], [IdDisciplina], [IdProfesor], [IdEspacio], [FechaHora], [DuracionMinutos], [Costo], [Activa]) VALUES (2, 5, 1, 3, CAST(N'2026-09-30T18:00:00.000' AS DateTime), 90, 2000, 1)
INSERT [dbo].[Clases] ([IdClase], [IdDisciplina], [IdProfesor], [IdEspacio], [FechaHora], [DuracionMinutos], [Costo], [Activa]) VALUES (3, 1, 3, 1, CAST(N'2026-10-05T16:00:00.000' AS DateTime), 60, 1200, 1)
SET IDENTITY_INSERT [dbo].[Clases] OFF
GO
SET IDENTITY_INSERT [dbo].[Disciplinas] ON 

INSERT [dbo].[Disciplinas] ([IdDisciplina], [NombreDisciplina], [EdadMinima], [EdadMaxima]) VALUES (1, N'Fútbol infantil', 5, 12)
INSERT [dbo].[Disciplinas] ([IdDisciplina], [NombreDisciplina], [EdadMinima], [EdadMaxima]) VALUES (2, N'Básquet juvenil', 13, 17)
INSERT [dbo].[Disciplinas] ([IdDisciplina], [NombreDisciplina], [EdadMinima], [EdadMaxima]) VALUES (3, N'Natación para adultos', 18, 99)
SET IDENTITY_INSERT [dbo].[Disciplinas] OFF
GO
SET IDENTITY_INSERT [dbo].[Espacios] ON 

INSERT [dbo].[Espacios] ([IdEspacio], [Nombre], [Tipo], [Capacidad], [Activo]) VALUES (1, N'Cancha Principal', N'Cancha', 20, 1)
INSERT [dbo].[Espacios] ([IdEspacio], [Nombre], [Tipo], [Capacidad], [Activo]) VALUES (2, N'Pileta Climatizada', N'Pileta', 15, 1)
INSERT [dbo].[Espacios] ([IdEspacio], [Nombre], [Tipo], [Capacidad], [Activo]) VALUES (3, N'Salón A', N'Salón', 3, 1)
SET IDENTITY_INSERT [dbo].[Espacios] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscripciones] ON 

INSERT [dbo].[Inscripciones] ([IdInscripcion], [IdSocio], [IdClase], [FechaInscripcion], [ImporteAbonado], [Estado], [Asistio]) VALUES (1, 3, 1, CAST(N'2026-09-01T00:00:00.000' AS DateTime), 1500, N'Confirmada', 1)
INSERT [dbo].[Inscripciones] ([IdInscripcion], [IdSocio], [IdClase], [FechaInscripcion], [ImporteAbonado], [Estado], [Asistio]) VALUES (2, 4, 1, CAST(N'2026-09-02T00:00:00.000' AS DateTime), 1500, N'Confirmada', 0)
INSERT [dbo].[Inscripciones] ([IdInscripcion], [IdSocio], [IdClase], [FechaInscripcion], [ImporteAbonado], [Estado], [Asistio]) VALUES (3, 5, 1, CAST(N'2026-09-03T00:00:00.000' AS DateTime), 0, N'Cancelada', NULL)
SET IDENTITY_INSERT [dbo].[Inscripciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([IdProfesor], [Nombre], [Apellido], [Legajo], [Especialidad], [Activo]) VALUES (1, N'Martin', N'Fierro', N'LEG001', N'Deportes de equipo', 1)
INSERT [dbo].[Profesores] ([IdProfesor], [Nombre], [Apellido], [Legajo], [Especialidad], [Activo]) VALUES (2, N'Valeria', N'Lynch', N'LEG002', N'Deportes acuáticos', 1)
INSERT [dbo].[Profesores] ([IdProfesor], [Nombre], [Apellido], [Legajo], [Especialidad], [Activo]) VALUES (3, N'Diego', N'Maradona', N'LEG003', N'Fútbol', 1)
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
SET IDENTITY_INSERT [dbo].[Socios] ON 

INSERT [dbo].[Socios] ([IdSocio], [Nombre], [Apellido], [DNI], [FechaNacimiento], [Email], [FechaAlta], [Activo]) VALUES (1, N'Lucas', N'Perez', N'50123456', CAST(N'2016-05-10' AS Date), N'lucas@mail.com', CAST(N'2025-01-10' AS Date), 1)
INSERT [dbo].[Socios] ([IdSocio], [Nombre], [Apellido], [DNI], [FechaNacimiento], [Email], [FechaAlta], [Activo]) VALUES (2, N'Maria', N'Gomez', N'45123456', CAST(N'2010-08-20' AS Date), N'maria@mail.com', CAST(N'2025-02-15' AS Date), 1)
INSERT [dbo].[Socios] ([IdSocio], [Nombre], [Apellido], [DNI], [FechaNacimiento], [Email], [FechaAlta], [Activo]) VALUES (3, N'Juan', N'Lopez', N'35123456', CAST(N'1990-11-05' AS Date), N'juan@mail.com', CAST(N'2024-03-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Socios] OFF
GO
/****** Object:  Index [IX_Clases]    Script Date: 23/9/2026 14:13:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clases] ON [dbo].[Clases]
(
	[FechaHora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  CONSTRAINT [DF_Inscripciones_Asistio]  DEFAULT (NULL) FOR [Asistio]
GO
ALTER TABLE [dbo].[Socios] ADD  CONSTRAINT [DF_Socios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [FK_Clases_Disciplinas] FOREIGN KEY([IdDisciplina])
REFERENCES [dbo].[Disciplinas] ([IdDisciplina])
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [FK_Clases_Disciplinas]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [FK_Clases_Espacios] FOREIGN KEY([IdEspacio])
REFERENCES [dbo].[Espacios] ([IdEspacio])
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [FK_Clases_Espacios]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [FK_Clases_Profesores] FOREIGN KEY([IdProfesor])
REFERENCES [dbo].[Profesores] ([IdProfesor])
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [FK_Clases_Profesores]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Clases] FOREIGN KEY([IdClase])
REFERENCES [dbo].[Clases] ([IdClase])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Clases]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Socios] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socios] ([IdSocio])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Socios]
GO
USE [master]
GO
